
.photo-card{
  display: flex;
  flex-direction: column;
  width: 15em;
  height: auto;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #4d4d4d;
  justify-content: center;
  align-items: center;
  border-radius: 4em 1em 0.5em 0.5em ;
  background-color: #FFF;
}

.photo-card__img {
  display: flex;
  width: 14em;
  margin: 0.5em 0.5em;
  border-radius: 4em 1em 0.5em 0.5em ;
}

.photo-card__img:hover {
  width: 30em;
  margin: 0;
  position: absolute;
  top: auto;
  border-radius: 1em;
  border: 3px solid black;
  box-shadow: 1px 2px 4px #ff7f50;
  transition: all 1s ease-in-out;
}
