
@media screen and (max-width:480px){
  #Home__main{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(118,184,151);

  }

  #home__logo{
    display: flex;
    width: 25%;
    align-items: center;
  }

  #home__logo > img{
    display: flex;
    width: 6em;
    height: 7em;

  }

  #home__slogan {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 0.8em;
  }

  #home__slogan > h1 {
    display: flex;
    width: 6em;
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em 0 0 0;
    color: rgb(212, 210, 210);
  }

  #home__slogan > h2 {
    font-size: 0.8em;
    width: 9em;
    text-align: center;
    color: #fff;
  }

  #home__links{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding-top: 0;
    align-items: center;
    justify-content: center;
  }

 .home__links-redes {
    width: 3em;
    height: 32px;
    justify-content: end;
    padding: 0;
    border: none;
    margin: 0;

  }

  .home__links-redes > p {
    display: none;
  }
}

@media screen and (max-width:700px){
  #home__slogan > h1 {
    font-size: 1.6em;
  }

  #home__slogan > h2 {
    font-size: 1em;
    margin: 0.3em 0 0 0;
    color: #fff;
    text-align: center;
  }

  .home__links-redes {
    width: 3em;
    height: 32px;
    border: none;
  }

  .home__links-redes > p {
    display: none;
  }
}

@media screen and (max-width:850px) and (min-width:701px){

  #home__slogan > h1 {
    font-size: 2.5em;
  }

  #home__slogan > h2 {
    font-size: 1em;
    margin: 0.3em 0 0 0;
    color: #fff;
    text-align: center;
  }

  .home__links-redes{
    height: 4em;
    border: none;
    height: 3em;
  }

  .home__links-redes {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }

  .home__links-redes > p {
    font-size: 0.8em;
  }
}
