<section id="spotify-main">
  <h3>Nosso Spotify</h3>
  <section id="spotify-main__info">
    <section id="spotify-main__info-description">
      <div>
        <p>O Rancho da Saudade tem um canal especial no spotify para você que queira ouvir aquela música que te faz lembrar das tradições gaúchas</p>
        <p>Para te  deixar mais confortavel criamos 3 formas de ouvir as músicas do canal do rancho no spotify:
        </p>
        <p>- Á primeira é pelo quadro ao lado, escolhendo a música e clicando em play para ouvir.</p>
        <p>- Á segunda é pelo icone abaixo, que vai te direcionar para o spotify onde você pode seguir o canal e criar sua lista favorita.</p>
        <p>- Á terceira é scaneando o código scan direto no spotify.</p>
      </div>

      <a href="https://open.spotify.com/artist/0tyvsCPEsQGgawG94Umyq1" target="_blank"><img src="../../../assets/img/Comon/spotify.png" alt="">Musical do Rancho</a>
      <img src="../../../assets/img/Comon/scan_spotify.jpeg" alt="" srcset="">
    </section>
    <section id="spotify-main__info-music">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/0tyvsCPEsQGgawG94Umyq1?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </section>
  </section>
</section>
