
@media screen and (max-width:480px){

  #footer-default__main-left {
    display: none;
  }

  #footer-default__main-right{
    width: 100%;
    font-size: 0.8em;
  }

  #footer-default__main-right__links {
    justify-content: center;
  }

  .footer-default__home__links-redes {
    padding-right: 1em;
  }

  .footer-default__home__links-redes > p {
    font-size: 0.7em;
  }
}


