<section id="main-cultural">
  <h1>DEPARTAMENTO CULTURAL</h1>
  <section id="main-cultural__adulta" class="main-cultural-invernadas">
    <h2>CULTURAL</h2>
    <section class="conteudo">
      <p>O Departamento Campeiro coordena e organiza as atividades campeiras da entidade. A campeira do Rancho se destaca por suas cavalgadas de busca da Chama Crioula e Cavalgada do Mar, além de participar de ações sociais, principalmente voltadas à distribuição de alimentos para a comunidade carente da região do Vale do Gravataí..</p>
    </section>
    <section class="main-cutural__cutural-awards">
      <section class="main-cultural-invernadas-coordenacao">
        <h3>Coordenação Cultural</h3>
        <section class="main-cultural-invernadas-coordenacao__descricao">
            <app-coordination IdCoordenacao="9" pCoordenacao="1"></app-coordination>
            <app-coordination IdCoordenacao="9" pCoordenacao="2"></app-coordination>
            <app-coordination IdCoordenacao="9" pCoordenacao="3"></app-coordination>
        </section>
      </section>
    </section>
    <section class="main-cultural__cultural-gallery">
      <h3>Galeria Fotos Cultural</h3>
      <section class="main-cultural__cultural-gallery__photos">
        <app-photos-gallery IdGallery="9" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="3"></app-photos-gallery>

      </section>
      <hr>
      <h3>Galeria Fotos Prendas</h3>
      <section class="main-cultural__cultural-gallery__photos">
        <app-photos-gallery IdGallery="9" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="6"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="7"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="8"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="9"></app-photos-gallery>
      </section>
    </section>
  </section>

</section>
