
  <section id="gallery-About__first">
    <h2>Galeria Patronos</h2>
    <section id="gallery-About__patronos">
      <app-card-patronagem Id="17" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="18" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="19" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="20" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="21" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="22" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="23" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="24" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="25" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="26" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="27" class="gallery-About__photos-card"></app-card-patronagem>
      <app-card-patronagem Id="28" class="gallery-About__photos-card"></app-card-patronagem>
    </section>
    <h2>Galeria de fotos</h2>
    <section id="gallery-About__photos">
      <app-photos-card Id="1" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="2" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="3" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="4" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="5" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="6" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="7" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="8" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="9" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="10" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="11" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="12" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="13" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="14" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="15" class="gallery-About__photos-card"></app-photos-card>
      <app-photos-card Id="16" class="gallery-About__photos-card"></app-photos-card>
    </section>
  </section>

