
<main id="main">
  <app-slider-show></app-slider-show>
  <section id="main__article-cards">
    <article id="main__article-main">
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
    </article>
  </section>
  <section>
    <app-midia-institucional></app-midia-institucional>
  </section>

</main>

