<section id="institutional">
  <div id="section_intitutional_video"><h2>Aqui  vai um video institucional</h2></div>
                <video id="player" loop poster="" title="Vídeo institucional CTG" preload="none">
                    <source  src="" type="video/mp4">
                    <source  src="" type="video/ogg">
                    <source  src="" type="video/webm">
                       <p>Seu navegador não tem compatibilidade para este tipo de video.</p>
                   </video>
</section>
