
@media screen and (max-width:480px){
  #institutional {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #76b897;
    margin: 30px 0 20px 0;
    background-image: url('../../../assets/img/Home/imagem_do_início.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-color: aqua;
  }
}



#section_intitutional_video {
  display: flex;

  width: 80%;
  height: 300px;

}
